<h3> signalForm (person) in responsive tailwind css grid </h3>
<!--
 <form novalidate class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <label class="block text-sm">firstname:</label>
        <input [formField]="personForm.firstname" [ngClass]="classForField('firstname')" class="w-full" />
        <span class="text-red-600">{{firstnameError()}}</span>
    </div>

    <div>
        <label class="block text-sm">lastname:</label>
        <input [formField]="personForm.lastname" [ngClass]="classForField('lastname')" class="w-full" />
        <span class="text-red-600">{{lastnameError()}}</span>
    </div>

    <div>
        <label class="block text-sm">email:</label>
        <input [formField]="personForm.email" [ngClass]="classForField('email')" class="w-full" />
        <span class="text-red-600">{{emailError()}}</span>
    </div>

     <div>
        <label class="block text-sm">age:</label>
        <input  type="number" [formField]="personForm.age" [ngClass]="classForField('age')" class="w-full" />
        <span class="text-red-600">{{ageError()}}</span>
    </div> 
</form>
-->
<hr/>
<lib-dynamic-form   [formRef]="personForm" ></lib-dynamic-form>
 <hr/>  
    person : <span [style.color]="okPerson?'green':'red'">{{ personModel() | json }}</span> <br/>
    <input type="button" value="login" [disabled]="personForm().invalid()" (click)="onPerson()" /> <br/>
    message: <span [style.color]="okPerson?'green':'red'">{{messagePerson}}</span> 
