<p>zipCurrency</p>

<label>zip:</label><input [(ngModel)]="zip"/> <br/>
<button (click)="onGetZippotpotamData()">getZippopotamData</button> <br/>
data: {{zippopotamData|json}}<br/>
geoCoord : {{ geoCoord | json}} <br/>
weather : {{ weather | json}} <br/>
weatherViaAsyncAwait : {{ weatherViaAsyncAwait | json}}

<hr/>
<pre>
    ** base : EUR / Euro **
    USD : US Dollar , JPY : Japan Yen , 
    GBP : Great Britain Pound (Livre sterling) ,
    DKK : Danemark Couronne/Krone ,
    CNY: ChiNa Yuan,  KRW : KoRea Won  , ...
</pre>
<label>order:</label>
<select [(ngModel)]="currencyOrder">
    <option>byCode</option>
    <option>byValue</option>
</select>  <br/>
filteringCurrencyCodes: <input [(ngModel)]="filteringCurrencyCodeString" size="48"/><br/>
<button (click)="onRetreiveCurrencies()">retreive currencies</button> <br>
<!-- currencies : {{currencies | json}} <br/> -->
currencies : {{sCurrencies() | json}} <br/>
