<h3>financial computation</h3>

<lib-toggle-panel title="loan computing" [(panelOpenState)]="loanPanelOpen">
    nbMonth: <input type="number" name="nbMonth" [(ngModel)]="nbMonth" /> <br/>
    amount : <input type="number" name="amount"  [(ngModel)]="amount" /> <br/>
    annualRate (%): <input type="number" name="annualRate"  [(ngModel)]="annualRate" /> <br/>
    <hr/>
    monthlyPayment: <span id="monthlyPayment">{{monthlyPayment()}}</span>
</lib-toggle-panel>



<!-- <button (click)="onComputeMonthlyPayment()">compute loan monthly payment</button> <br/> -->